@import 'colors';
@import "constants";

* {
	margin: 0;
	padding: 0;
	font-family: $font;
}

body {
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
	min-width: 100%;

	background-color: $primary-background-color;
}

header, footer {
	color: $title-color;
	background-color: $secondary-background-color;
}

header {
	h1 {
		text-align: center;
	}
}

footer {
	p {
		padding: 0.4em 0;
		text-align: center;
	}
}

main {
	flex-grow: 1;

	display: flex;
	flex-flow: row wrap;
	max-width: $fullScreenContentWidth;
	margin: 0 auto;
}

.btn {
	font-size: 1.2rem;
	width: 100px;
	height: 50px;
	padding: 0.5em 0;
}


.controls {
	width: 336px;

	.presets {
		.btn {
			width: 100%;
			margin: 0.5em 0;
		}
	}
	
	.controlPanel {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		.btn {
			margin: 10px 0;

			.rot45 {
				transform: scale(1.4) rotate(315deg);
			}
			.rot-45 {
				transform: scale(1.4) rotate(45deg);
			}

			img {
				transform: scale(1.4);
			}
		}
	}
}

.view {
	margin: 0 2em;
}


